<% include ../shared/header %>

<div class="ui three column centered grid">
    <div class="column">
        <form class="ui form">
            <div class="field">
                <label>Email</label>
                <input type="email" placeholder="email@mail.com">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password">
            </div>
            <button type="submit" class="ui blue labeled submit icon button">
                <i class="icon edit"></i>
                Log in
            </button>
        </form>
    </div>
</div>
<% include ../shared/footer %>