<% include ../shared/header %>

<div class="ui three column centered grid">
    <div class="column">
        <form class="ui form">
            <div class="field">
                <label>Nom</label>
                <input type="text" placeholder="Entré votre nom">
            </div>
            <div class="field">
                <label>Prénom</label>
                <input type="text" placeholder="Entré votre prénom">
            </div>
            <div class="field">
                <label>Numéro de téléphone</label>
                <input type="number" placeholder="Entré votre numéro de téléphone">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" placeholder="email@mail.com">
            </div>
            <div class="field">
                <label>Confirme l'email</label>
                <input type="email" placeholder="email@mail.com">
            </div>
            <div class="field">
                <label>Mot de passe</label>
                <input type="password" placeholder="Mot de passe">
            </div>
            <div class="field">
                <label>Confirmé le mot de passe</label>
                <input type="password" placeholder="Confirmé le mot de passe">
            </div>
            <button type="submit" class="ui blue labeled submit icon button">
                <i class="icon edit"></i>
                Sign in
            </button>
        </form>
    </div>
</div>
<% include ../shared/footer %>